body{
  background-color: black;
  font-family: Helvetica;
  color: white;
  opacity: 0.9;
  font-size: 22px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  height: 69px;
  border-bottom: 1px solid seashell;
}
img{
  height: 50px;
}
nav span a{
  display: inline-block;
  padding: 20px 10px;
  color: white;
}
.mission{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height:700px;
  width: 1200px;
}
h2{
  background-color: black;
  width: 1180px;
  height: 38px;
  padding: 10px 10px;
  text-align: center;
}
h4{
  background-color: black;
  width: 1180px;
  height: 25.33px;
  padding: 10px 10px;
  text-align: center;
}
