body{
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  font-size: 22px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  height: 69px;
  border-bottom: 1px solid seashell;
}
img{
  height: 50px;
}
nav span a{
  display: inline-block;
  padding: 20px 10px;
  color: white;
}
.mission{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height:700px;
  width: 1200px;
  margin: auto;
}
h2{
  background-color: black;
  width: 1180px;
  height: 38px;
  padding: 10px 10px;
  text-align: center;
}
h4{
  background-color: black;
  width: 1180px;
  height: 25.33px;
  padding: 10px 10px;
  text-align: center;
}
.featured{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.featured h2{
  width: 980px;
  height: 38px;
  padding: 10px 10px;
  text-align: center;
}
.featured h4{
  width: 980px;
  height: 25px;
  padding: 10px 10px;
  text-align: center;
}
.tea{
  display: flex;
  width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
}
div{
  padding: 5px;
}
img{
  height: 200px;
  width: 300px;
  padding: 10px;
  display: block;
}
span{
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
